#Slider h1{

  text-align: center;
  text-transform: uppercase;

}

#Slider .container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Slider .Slides
{
  display: flex;
  justify-content: center;
  margin-top:10px ;
}
#Slider .Slides img
{
  width: 60px;
  height: 60px;
  margin: 0 2px;
  transition: 0.5s;
}

#Slider .container .slide-show
{
  width: 500px;
  height: 500px;
}
#Slider .container button{
  height: 55px;
  width:55px;
  border-radius: 50%;
    border: none;
    margin: 0 10px;
}
#Slider .container button:hover
{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
  cursor: pointer;  

}

#Slider .container .slide-show img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

/*************** extra css ******************/

.fade{
  opacity: 0.5;
}
.nofade{
  opacity: 1;
}